
.sucess {
    color: #3CE039; ;
}

.warning{
    color: #DBC81E;
}

.info {
    color: #14D5FF;
}

.dashboard-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator-header {
    background-color: #2C2929;
    width: inherit;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.indicator-header h2 {
    font-size: 2.25rem;
}
.indicator-header p{
    font-size: 1.875rem
}
.indicators-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: auto;
}