.indicator-card{
    width: 10.25rem;
    height: 10.2rem;
    background: #2C2929;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    margin: 0 auto;

}

.indicator-card h1 {
    font-size: 3.75rem;
}

.indicator-card p{
    font-size: 1.87rem;
    font-weight: 700;
}

.indicator-card:hover{
    background: #312e2e;

}