.agent-card-results{
    background: #2C2929;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    transition: 200ms;
    margin-bottom: 1em;
    text-align: center;
}

.agent-card-results:hover{
    background: #312e2e;

}

.agent-card-results h1 {
    font-size: 1rem;
    font-weight: normal;
}

.agent-card-results p{
    font-size: 1.75rem;
}

.agent-card-results .question{
    color: var(--info-color);
    font-weight: normal;
}

.agent-card-results .task{
    color: var(--warning-color);
    font-weight: normal;
}

.agent-card-results .problem{
    color: var(--sucess-color);
    font-weight: normal;
}

.agent-card-results .total{
    font-weight: normal;
}

.agent-card-results img{
    width: 4.5em;
    height: 4.5em;
    object-fit: cover;
    border-radius: 50%;
}