.tickets-container{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tickets-container .tickets-header {
    background-color: #2C2929;
    width: inherit;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.tickets-container .tickets-header  h2{
    font-weight: normal;
}

.tickets-container .agents-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    width: 85%;
    flex-wrap: wrap;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4em;
    margin-top: 2em;
}

.button{
    background: white;
    color: var(--light-background-color);
    text-decoration: none;
    border-radius: 8px;
    padding: 1.2em 4em;
    transition: 2ms;
    font-weight: bold;
    width: 16vw;
}

.form-button{
    padding: 0.3em 0.8em;
    cursor: pointer;
}

.button:hover{
    background: var(--light-text-color);
}

@media screen and (min-width: 640px){
    .tickets-container{
        height: 100vh;
    }
}

@media screen and (max-width: 640px){
    .menu{
        justify-content: center;
        margin-right: 0;
        margin-bottom: 2em;
    }    
}