/*--global **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-color: #0F0F0F;
    --light-background-color: #2C2929;
    --text-color: #FFFFFF;
    --light-text-color: #C4C4C4;
    --sucess-color: #3CE039;
    --warning-color: #DBC81E;
    --info-color: #14D5FF;
    --danger-color: #842029;
}
